@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Outfit";
}

#root {
  height: 100vh;
  background-color: #10141e;
  overflow: auto;
  overflow-x: hidden;
}
button {
  cursor: pointer;
}

p {
  font-feature-settings: "liga" off, "clig" off;
  font-family: Outfit;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.75;
}
@theme {
  --breakpoint-one: 1345px;
  --breakpoint-first: 1135px;
  --breakpoint-second: 550px;
}
